* {
  margin: 0;
}

.test-container-bg {
  background-image: linear-gradient(to bottom, #eedf92, #eee5e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  background-image: linear-gradient(to bottom, #f42c98, #fe4949);
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  padding: 20px;
}
