.test-card-item {
  list-style-type: none;
  padding-left: 0;
  background-color: white;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.language-details-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eedf92;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 45%;
  flex-grow: 1;
}

.logo-language-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee5e5;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.language-logo {
  height: 30px;
  width: 34px;
  margin: 0;
}

.language-name {
  font-family: 'Times New Roman';
  font-size: 14px;
  margin: 0;
}

.test-start-button {
  background-image: linear-gradient(to bottom, #f42c98, #fe4949);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: white;
  padding: 10px 25px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.test-start-link {
  align-self: center;
}

.video-container {
  width: 45%;
  flex-grow: 1;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
